{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="iso-8859-1">
<title>Receta</title>
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "login.css" %}" rel="stylesheet">
<script language="javascript">
<!--
function eliminar(id) {
	self.location.href='?del='+id;
}
function modificar(id) {
	self.location.href='?mod='+id;
}
function calificar(nom, id) {
	var cal = window.prompt(nom+"\nDefina una calificacion entre 1 y 5","1");
	if( parseInt(cal) < 1 || parseInt(cal) > 5 )
		calificar(nom, id);
	if( cal != null )
	self.location.href='?cal='+cal+'&idcal='+id;
}
// -->
</script>
</head>
<body>
<p>Bienvenido {{usuario.username|upper}}, ultimo accceso {{usuario.last_login}}</p>
<form class="form-horizontal" role="form" style="width:60%" method="post" id="formulario" enctype="multipart/form-data">{% csrf_token %}
<legend>Crear Receta</legend>
  <div class="form-group">
    <label for="nombre" class="col-lg-2 control-label">Nombre de la Receta</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la receta">
    </div>
  </div>
  <div class="form-group">
    <label for="contenido" class="col-lg-2 control-label">Contenido</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="texto" name="texto" placeholder="Contenido de la receta">
    </div>
   </div>
   <div class="form-group">
    <div class="col-lg-10">
      <input type="file" class="form-control" id="file" name="file">
    </div>
   </div>
   <input type="hidden" name="imagen" value="tmp.jpg">
  <input type="submit" value="Crear" class="btn btn-success">
</form>
<p>&nbsp;</p>
<p>
<form action="" method="get">
	<div class="form-group">
    <label for="buscar" class="col-lg-2 control-label">Buscar</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="buscar" name="buscar" placeholder="Texto a buscar">
      <input type="submit" value="Buscar" class="btn btn-success"> <input type="button" value="Cancelar Busqueda" class="btn btn-success" onClick="self.location.href='/receta/'">
    </div>
   </div>
   
</form>
</p>
<p>&nbsp;</p>
{% if lista_receta %}
<table class="table table-striped" width="720" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32"><a href="?orden={{ oid }}">Creacion</a></td>
    <td width="135"><a href="?orden={{ onom }}">Nombre</a></td>
    <td width="237">Contenido</td>
    <td width="172">Imagen</td>
    <td width="60">Calificacion</td>
    <td width="84">Opciones</td>
  </tr>
	{% for receta in lista_receta %}
  <tr>
    <td>{{ receta.creacion }}</td>
    <td>{{ receta.nombre }}</td>
    <td>{{ receta.texto }}</td>
    <td><img src="{% static "imagenes/" %}{{ receta.imagen }}" width="80%"></td>
    <td>{% widthratio receta.a receta.b 1 %}</td>
    <td><button type="button" class="btn btn-link" onClick="calificar('{{ receta.nombre }}', '{{ receta.id }}')">Calificar</button><br /><button type="button" class="btn btn-link" onClick="javascript:modificar('{{ receta.id }}')">Modificar</button><br /><button type="button" class="btn btn-link" onClick="javascript:eliminar('{{ receta.id }}')">Eliminar</button></td>
  </tr>
	{% endfor %}
</table>
{% else %}
    <p>No existen recetas disponibles.</p>
{% endif %}

<button type="button" class="btn btn-success" onClick="self.location.href='/cerrar'">Salir</button>
</body>
</html>